@model IEnumerable<RosMovies.Models.Review>
@using RosMovies.Models


@{
    ViewBag.Title = "Details";
}

<h2>"@ViewBag.Movie.Name"</h2>

@*@Model.Name*@


<div><h4>Режиссер: @ViewBag.Movie.Director</h4></div>
<div><h4>Актеры: @ViewBag.Movie.Actors</h4></div>
<div><h4>Жанр: @ViewBag.Movie.Genre</h4></div>
<div>Описание: @ViewBag.Movie.Description</div>

@if (Request.IsAuthenticated)
{
    <div>
        <hr/>
            @Html.ActionLink("Редактировать", "Edit", new { id = @ViewBag.Movie.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = @ViewBag.Movie.Id })
        <hr />
    </div>
}

<div><h4>Комментарии: </h4></div>
@foreach(var review in Model)
{
    <hr/>
    <div>
        <p>
        <div class="info">
            <div class="container">
                <dl>
                    <dt>@review.UserName @review.UserLastName @review.DateCom Оценка: @review.Score</dt>
                    <dd>@review.MovieReview</dd>
                </dl>
            </div>
        </div>
        </p>
    </div>
    
}

@if (Request.IsAuthenticated)
{
    <hr/>
    using (Html.BeginForm("Details", "Movie", FormMethod.Post, new { review = new Review { } }))
        {
                <input type="hidden" value="@ViewBag.Movie.Id" name="MovieId" />
                <input type="hidden" value="@ViewBag.User.FirstName" name="UserName" />
                <input type="hidden" value="@ViewBag.User.LastName" name="UserLastName" />
                <input type="hidden" value="@DateTime.Now" name="DateCom" />
                <p>Введите ваш комментарий: </p>
                @*@Html.TextBox("MovieReview", "Ваш комментарий", new { @class = "myId", id = "myId" })*@
                @Html.TextArea("MovieReview", "Введите не более 250 символов", 5, 550, new { @class = "form-control", id = "myId" })
                <p>Оценте фильм:</p>
                @Html.ListBox("Score", new MultiSelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }), new { @class = "form-control" })


                <p><input type="submit" value="Отправить" id="myButtomId"  class="btn btn-default" /></p>
        }
}

@section Scripts {
    @Scripts.Render("~/Scripts/valid.js")
}
