@model IEnumerable<RosMovies.Models.Review>
@using RosMovies.Models


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*@Model.Name*@

@foreach (var movie in ViewBag.movie)
{
    @movie.Name
}

@foreach(var review in Model)
{
    @review.MovieReview
}

@*@using (Html.BeginForm("Details", "Movie", FormMethod.Post, new { movie = @movie })))
    {
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <p>Введите свое имя: </p>
            @Html.TextBox("Person", "Введите имя")
            <p>Введите адрес :</p>
            @Html.TextBox("Address", "Введите адрес")
            <p><input type="submit" value="Отправить" /></p>
    }*@