
@model  RosMovies.ProgectViewModels.MovieListViewModel
@using PagedList.Mvc;
@using RosMovies.Models;
@using RosMovies.HtmlHelpers;

@{
    ViewBag.Title = "Список фильмов";
}

<h2>Список фильмов</h2>



@*<div class="row">
    <div class="col-sm-3" style="padding-top:15px;">
        Поиск по названию:
    </div>
    <div class="col-md-2" style="padding-top:15px;">
        Поиск по режиссеру:
    </div>
    <div class="col-md-2" style="padding-top:15px;">
        Поиск по актерам:
    </div>
    <div class="col-md-2" style="padding-top:15px;">
        Поиск по жанру
    </div>
</div>*@

<div class="container-fluid" style="margin-left:30px">
    @using (Html.BeginForm("MovieList", "Movie", FormMethod.Post, new { @class="form-inline"}))
    {
        <table>
            <tr><th>Название</th><th>Режиссер</th><th>Актеры</th><th>Жанр</th><th></th></tr>
            <tr>
                <td>
                    <div class="form-group" style="padding-top:15px">
                        <input class="form-control" id="movieName" name="movieName" type="text" />
                    </div>
                </td>
                <td>
                    <div class="form-group" style="padding-top:15px">
                        <input class="form-control" id="movieDirector" name="movieDirector" type="text" />
                    </div>
                </td>
                <td>
                    <div class="form-group" style="padding-top:15px">
                        <input class="form-control" id="movieActor" name="movieActor" type="text" />
                    </div>
                </td>
                <td>
                    <div class="form-group" style="padding-top:15px">
                        <input class="form-control" id="movieGenre" name="movieGenre" type="text" />
                    </div>
                </td>
                <td>
                    <div class="form-group" style="padding-top: 15px">
                        <button class="btn btn-default" name="show" id="botShow">Отправить</button>
                    </div>
                </td>
            </tr>
        </table>



        @*<div class="row">
            <div class="form-group" style="padding-top:15px; width: 20%">
                <input class="form-control" id="movieName" name="movieName" type="text" />
            </div>
            <div class="form-group" style="padding-top:15px">
                <input class="form-control"  id="movieDirector" name="movieDirector" type="text" />
            </div>
            <div class="form-group"style="padding-top:15px">
                <input class="form-control" id="movieActor" name="movieActor" type="text" />
            </div>
            <div class="form-group" style="padding-top:15px">
                <input class="form-control" id="movieGenre" name="movieGenre" type="text" />
            </div>
            <div class="form-group" style="padding-top: 15px">
                <button class="btn btn-default" name="show" id="botShow">Отправить</button>
            </div>
        </div>*@
    }

</div>


<div>
    @foreach (var movie in Model.Movies)
    {
        <hr/>
        <div class="container">
            <div style="float: left; margin-right: 20px">
                @if (movie.ImageData == null)
                {
                    @:None
                }
                else
                {
                    <img width="150" height="300" src="@Url.Action("GetImage", "Movie", new {
                                                            movie.Id
                                                            })" />
                }
            </div>
            
            <dl>
                <dt>Название:</dt>
                <dd>@movie.Name</dd>
                <dt>Режиссер:</dt>
                <dd>@movie.Director</dd>
                <dt>Актеры:</dt>
                <dd>@movie.Actors</dd>
                <dt>Жанр:</dt>
                <dd>@movie.Genre</dd>
                <dd>@Html.ActionLink("Подробнее", "Details", "Movie", new { id = @movie.Id }, null)</dd>
                <dd>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("В избранное", "AddFavorite", "User", new { id = movie.Id }, new { id = movie.Id })
                }
                </dd>
            </dl>
</div>

        <div class="container" style="margin-left:10px">
            <div class="col-md-12">@movie.Description</div>
        </div>
            }
        </div>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("MovieList",
    new { page = x, movieGenre = Model.CurrentMovieGenre }))
</div>

@*@Html.PagedListPager(Model, page => Url.Action("MovieList", "Movie",
    new { page, movieName = ViewBag.MovieName, movieDirector = ViewBag.Moviedirector, 
    movieActor = ViewBag.MovieActor, movieGenre = ViewBag.MovieGenre}))*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*new { page = x, movieName = Model.CurrentMovieName, movieDirector = Model.CurrentMovieDirector, movieActors = Model.CurrentMovieActor, movieGenre = Model.CurrentMovieGenre }))*@
