@*@model IEnumerable<RosMovies.Models.Movie>*@

@model PagedList.IPagedList<RosMovies.Models.Movie>
@using PagedList.Mvc;

@{
    ViewBag.Title = "MovieList";
}

<h2>MovieList</h2>

@*<div class="container">
    <div class="col-md-3">
        <select id="QueryValues" name="QueryValues">
            <option value="name" type ="selected">Название фильма</option>
            <option value="director">Режиссер</option>
            <option value="actor">Актеры</option>
            <option value="genre">Жанр</option>
        </select>
    </div>
    <div class="col-md-3" id="Search"><input class="form-control" style="margin: 10px" id="mySearch" name="Search" type="text" /></div>
    <div  class="col-md-3"><input type="submit" value=@ViewBag.Page id="myPage" class="myPage" /></div>


</div>*@

<div class="row">
    @using (Html.BeginForm("MovieList", "Movie", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-2" id="wrapper-dropdown" style="padding-top:15px;">
                <label for="quest">Критерий:</label>
                <select id="quest" name="quest">
                    <option value="name" selected>Название фильма</option>
                    <option value="director">Режиссер</option>
                    <option value="actor">Актеры</option>
                    <option value="genre">Жанр</option>
                </select>
            </div>
            <div class="col-md-6" style="padding-top:15px;">
                <input class="form-control"  id="myQuery" name="myQuery" type="text" />
            </div>
            <div class="col-md-4" style="padding-left: 100px; padding-top: 0px; padding-bottom: 10px;">
                <button class="btn-filter" name="show" id="botShow">Отправить</button>
            </div>
        </div>
    }
</div>



@*@{Html.RenderPartial("_PartialList", Model);}*@
<div>
    @foreach (var movie in Model)
    {
        <hr/>
        <div class="container">
            <div class="col-md-2">@movie.Name</div>
            <div class="col-md-2">@movie.Description</div>
            <div class="col-md-1">@movie.Director</div>
            <div class="col-md-2">@movie.Actors</div>
            <div class="col-md-1">@movie.Genre</div>
            <div class="col-md-2">
                @Html.ActionLink("Подробнее", "Details", "Movie", new { id = @movie.Id }, null)
            </div>
            <div class="col-md-2">
                @if (Request.IsAuthenticated)
                    {
                       using (Html.BeginForm("AddFavorite", "User", FormMethod.Post, new { movie = @movie }))
                       {
                        <input type="submit" value="В избранное" />
                       }


                        @Html.ActionLink("Избранное", "AddFavorite", "User", new { id = movie.Id}, new { id = movie.Id}) 
                    }
            </div>
        </div>
    }
</div>

@Html.PagedListPager(Model, page => Url.Action("MovieList", "Movie", new { page, myQuery = ViewBag.MyQuery, quest = ViewBag.Quest}))

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/MyListScript.js")